 .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f0f4c3, #8fd3f4, #f2a7d7);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: 'Arial', sans-serif;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.title {
  /* font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold; */
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(45deg, #f9d423, #ff4e50);
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  animation: popUp 1s ease;
}

.card {
  width: 200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease;
}

.counter-display {
  background: linear-gradient(135deg, #f9d423, #ff4e50);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.counter-display h2 {
  font-size: 2.5rem;
  margin: 0;
  color: #000;
}

.counter-buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 60px;
  height: 50px;
  font-size: 1.5rem;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.reset-btn {
  font-size: 1.2rem; /* Adjust font size for the reset symbol */
}

.button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}
